---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogThumbnail from "../components/BlogThumbnail.astro";
import andrewImg from "../images/andrew.svg";
import Underline from "../components/Underline.astro";

const posts = await Astro.glob("./posts/*.mdx");
const nonDraftPosts = posts.filter(post => !post.frontmatter.draft);
---

<BaseLayout title="Bloycey's Blog">
	<div class="container">
		<section class="hero-wrapper">
			<h1>Bloycey's Blog</h1>
			<div class="underline">
				<Underline />
			</div>
			<div class="andrew-img">
				<img
					src={andrewImg}
					alt="A cartoon of Andrew Bloyce - the author of this blog."
				/>
				<div class="shadow"></div>
			</div>
		</section>
		<ul class="blogs-list">
			{
				nonDraftPosts
					.sort(
						(a, b) =>
							Number(new Date(b.frontmatter.date)) -
							Number(new Date(a.frontmatter.date))
					)
					.map(post => {
						const { date, title, description } = post.frontmatter;
						return (
							<li>
								<BlogThumbnail
									date={date}
									title={title}
									description={description}
									url={post.url}
								/>
							</li>
						);
					})
			}
		</ul>
	</div>
</BaseLayout>

<style>
	.shadow {
		width: 100%;
		border-radius: 100%;
		height: 3rem;
		background-color: var(--red);
		filter: blur(0.7rem);
		position: absolute;
		bottom: -0.5rem;
		z-index: -1;
		right: -1.5rem;
		opacity: 0.25;
	}

	html.dark .shadow {
		opacity: 1;
	}

	.hero-wrapper h1 {
		margin-top: 4rem;
		margin-bottom: 0.5rem;
		font-size: 2rem;
		width: 100%;
		line-height: 110%;
	}

	.hero-wrapper .andrew-img {
		display: none;
		z-index: 10;
		transform: translateY(-60px);
		width: 30%;
	}

	.hero-wrapper .underline {
		margin-top: 2rem;
	}

	@media (min-width: 767px) {
		.hero-wrapper .andrew-img {
			display: block;
			position: relative;
		}

		.hero-wrapper .underline {
			display: none;
		}

		.hero-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.hero-wrapper h1 {
			margin-top: 0;
			font-size: 3.5rem;
			width: 70%;
			padding: 0;
		}
	}

	.blogs-list {
		padding-left: 0;
		padding-bottom: 4rem;
		margin-top: 3rem;
	}

	@media (min-width: 767px) {
		.blogs-list {
			margin: 0;
		}
	}

	.blogs-list li {
		list-style: none;
		margin-bottom: 2.5rem;
	}
</style>
