---
import Comments from "../components/Comments.astro";
import Underline from "../components/Underline.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
	title={frontmatter.title}
	image={frontmatter.image}
	description={frontmatter.description}
>
	<article class="blog" data-blog-id={frontmatter.id}>
		<div class="magic-grid">
			<span class="blog-date mono"
				>{new Date(frontmatter.date).toDateString()}</span
			>
			<h1>{frontmatter.title}</h1>
			<div class="underline">
				<Underline />
			</div>
		</div>
		<div class="magic-grid blog-content">
			<slot />
		</div>
	</article>
	<Comments id={frontmatter.id} />
</BaseLayout>

<style>
	.blog-content {
		margin-top: 1rem !important;
		margin-bottom: 2rem;
	}

	.underline {
		margin-top: -0.75rem;
	}

	@media (min-width: 767px) {
		.underline {
			margin-top: 0;
		}
	}

	.blog-date {
		margin-top: 3rem;
		margin-bottom: 1rem;
		color: var(--red);
		font-size: 0.825rem;
	}

	html.dark .blog-date {
		color: var(--bright);
	}
</style>

<style is:global>
	.magic-grid > * {
		grid-column: 2;
	}

	.magic-grid figure {
		width: 100%;
		grid-column: 1 / 4;
		text-align: center;
	}

	.blog {
		margin-bottom: 4rem;
	}

	.blog blockquote p {
		margin-bottom: 0;
	}

	.blog h1 {
		margin-bottom: 0.5rem;
		font-size: 2rem;
	}

	.blog h2 {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.blog p {
		margin-bottom: 1.5rem;
	}

	.blog ol,
	.blog ul {
		margin-top: 0;
		margin-bottom: 1.5rem;
		padding-left: 1rem;
	}

	.blog ol li {
		padding-left: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.blog strong {
		background-color: var(--red);
		color: var(--white);
		display: inline;
		padding: 0 0.25em;
		font-weight: normal;
	}

	.blog figure {
		margin: 0 0 2.5rem 0;
	}

	@media (min-width: 767px) {
		.blog h1 {
			font-size: 2.5rem;
		}

		.blog p {
			margin-bottom: 2rem;
		}

		.blog ol,
		.blog ul {
			margin-top: 0;
			margin-bottom: 1.5rem;
		}
	}

	.blog a {
		display: inline;
		position: relative;
		text-decoration: none;
		color: inherit;
		margin: 0 0px;
		transition: margin 0.25s;
		background-color: transparent;
	}

	.blog a svg {
		width: 140%;
		position: absolute;
		left: 50%;
		bottom: -30px;
		transform: translate(-50%, -10px) translateZ(0);
		fill: none;
		stroke: var(--red);
		stroke-linecap: round;
		stroke-width: 2px;
		stroke-dasharray: 69px 278px;
		stroke-dashoffset: 361px;
		transition: stroke 0.25s ease 0s, stroke-dasharray 0.2s;
	}

	html.dark .blog a svg {
		stroke: var(--bright);
	}

	.blog a:focus {
		outline: none;
	}

	.blog a:hover svg,
	.blog a:focus svg {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -55%) translateZ(0);
		stroke-dasharray: 180px 278px;
		transition: stroke 0.25s ease 0.1s, stroke-dasharray 0.2s;
	}

	@media (max-width: 767px) {
		a,
		.blog a {
			text-decoration: underline;
			color: var(--red);
			text-decoration: underline;
			text-decoration-color: var(--red);
		}

		.blog a svg {
			display: none;
		}
		.blog a:hover {
			margin: 0;
		}
	}

	.astro-code {
		grid-column-start: 1;
		grid-column-end: 4;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	@media (min-width: 1600px) {
		.astro-code {
			width: 100%;
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>

<script>
	// This is a hack to fix the color of the code blocks
	window.addEventListener("DOMContentLoaded", () => {
		const elements = document.querySelectorAll("[style='color:#6272A4']");
		for (const element of elements) {
			element.style.color = "#949fc2";
		}
	});
</script>
